{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1 style="margin-top: 80px">List of appointments</h1>
  <form method="get" action="" class="form-inline">
    {{ search_form|crispy }}
    <input class="btn btn-secondary " type="submit" value="Search" >
  </form>
  <br>
  {% if appointments_list %}
    <table class="table">
      <tr class="table-primary">
        <th>ID</th>
        <th>Doctor</th>
        <th>Patient</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
    {% for appointment in appointments_list %}
       <tr>
          <td>
            <a href={% url 'doctors_service:appointment-detail' appointment.pk %}>
              {{ appointment.id }}
            </a>
          </td>
          <td>
            {{ appointment.doctor }}
          </td>
          <td>
            {{ appointment.first_name }} {{ appointment.last_name }}
          </td>
          <td>
            {{ appointment.doctor_schedule.date }}
          </td>
          <td>
            {{ appointment.doctor_schedule.time }}
          </td>
       </tr>
    {% endfor %}
  {% endif %}
  </table>
{% endblock %}
