{% extends "base.html" %}

{% block content %}
  <h1 style='margin-top: 80px'>
    Doctors: {{ doctor.first_name }} {{ doctor.last_name }}
  </h1>
  <p><strong>Speciality</strong>:
    {% for specialty in doctor.specialty.all %}
      <li> {{ specialty.specialty }}</li>
    {% endfor %}
  </p>
  <p><strong>email: </strong>{{ doctor.email }}</p>
  <p><strong>Licence number: </strong>{{ doctor.licence_number }}</p>
  <p><strong>City: </strong>{{ doctor.city }}</p>
  <p><strong>Hospital: </strong>{{ doctor.hospital }}</p>
  <p><strong>
    Free Schedule:
    <a href="{% url 'doctors_service:doctor-schedule-form' pk=doctor.pk  %}"> + add additional appointment time for patients </a>
  </strong>
  {% if available_schedule %}
    <div style="margin-right: 20px">
      <table class="table table-sm table-info">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col"></th>
            <th scope="col">Book appointment</th>
          </tr>
        </thead>
        <tbody>
          {% for schedule in available_schedule %}
            <tr>
              <td>{{ schedule.date }}</td>
              <td>{{ schedule.time }}</td>
              <td>
                <a href="{% url 'doctors_service:doctor-schedule-confirm-delete' doctor_id=doctor.id pk=schedule.id %}">
                  <button type="button" class="btn btn-primary">delete</button>
                </a>
              </td>
              <td>
{#                <a href="{% url 'doctors_service:doctor-schedule-confirm-delete' doctor_id=doctor.id pk=schedule.id %}">#}
{#                  <button type="button" class="btn btn-primary">book</button>#}
{#                </a>#}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <p style="color: red">There is no free time in the doctor's schedule.</p>
  {% endif %}
{% endblock %}
