{% extends "base.html" %}

{% block content %}
  <h1 style='margin-top: 80px'>Doctors: {{ doctor.first_name }} {{ doctor.last_name }}</h1>
  <p><strong>Speciality</strong>:
    {% for specialty in doctor.specialty.all %}
      <li> {{ specialty.specialty }}</li>
    {% endfor %}
  </p>
  <p><strong>Licence number: </strong>{{ doctor.licence_number }}</p>
  <p><strong>City: </strong>{{ doctor.city }}</p>
  <p><strong>Hospital: </strong>{{ doctor.hospital }}</p>
  <p><strong>Schedule:</strong>
  {% if doctor_schedule %}
    {% for schedule in doctor_schedule %}
      <li>{{ schedule.date }} - {{ schedule.time }}</li>
    {% endfor %}
  {% else %}
    <p style="color: red">There is no free time in the doctor schedule.</p>
  {% endif %}
{% endblock %}
