body {
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
    color: #082357;
    background-color: #fff;
}

.card_title {
    text-align: center;
}

.icon_style {
    width: 60%;
}

h1, p, form {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

ul {
    margin-left: 10px;
}
